body {
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}

.main {
    width: 45%;
}

.attempts {
    margin-top: 50%;
    height: 400px;
    width: 400px;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.letter {
    display: inline-block;
    padding: 4px;
    margin: 4px;
    height: 50px;
    width: 50px;
    font-size: 45px;
    text-align: center;
    text-transform: capitalize;
    caret-color: transparent;
    border: none;
    color: rgb(233, 233, 233);
    background-color: #161616;

}

.colors {
    color: #976700;
}

.keyboard {
    display: inline-block;
    text-align: center;
    margin-top: 39px;
    width: 400px;
    height: 150px;



}

button {
    width: 35px;
    margin-top: 2%;
    height: 35px;
    border: none;
    border-radius: 0px;
    background-color: rgb(113, 141, 97);
}

.func {
    width: 74px;
    height: 35px;
    background-color: rgb(90, 116, 30);
}