body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(39, 39, 39);
}

.main {
    max-height: 900px;
    max-width: 350px;
}

.attempts {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 8px;
}

.letter {
    height: 55px;
    width: 55px;
    font-size: 39px;
    color: rgb(233, 233, 233);
    background-color: #161616;
}

.keyboard {
    width: 95%;
    margin-top: 10%;
    margin-left: 2%;

}

button {
    padding: 0;
    width: 20px;
    height: 40px;
    color: black;
    border: none;
    margin: 2px;
    background-color: rgb(113, 141, 97);
}

.backs {
    background-color: rgb(90, 116, 30);
    width: 25px;
}

.enter {
    background-color: rgb(90, 116, 30);
    width: 25px;
}